#navbar {
    z-index: 4;
    background-color: #77438E;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

#navbar .navbar-header {
    float: none;
    line-height: 56px;
    height: 56px;
}

#navbar .navbar-toggle {
    display: block;
    border: none;
    height: 30px;
    width: 30px;
}

.navbar-toggle {
    padding-left: 4px!important;
    border-radius: 0!important;
}

.navbar-brand.nofloat {
    float: none;
    font-family: "ProximaNovaSoftRegular";
    font-size: 20px;
    line-height: 100%;
    color: #FFF!important;
}

.navbar-toggle .icon-bar {
    background-color: #FFF!important;
}

.navbar-toggle .icon-bar.half {
    width: 12px;
}

.navbar-toggle .icon-bar.quarter {
    width: 7px;
}

#side-menu {
    width: 294px;
    position: absolute;
    left: -294px;
    transition: 1s;
    font-family: "ProximaNovaSoftRegular";
    z-index: 3;
    background-color: #FFF;
    top: 0;
    height: 100%;
}

#side-menu .header {
    background: url(../assets/menu-header-bg.png);
    width: 294px;
    height: 150px;
    margin-top: 56px;
}


#side-menu .avatar {
    padding-top: 50px;
}

#side-menu .avatar .foto {
    position: absolute;
    width: 50px;
    margin-left: 10px;
    line-height: 50px;
}

#side-menu .avatar .name {
    width: 100px;
    margin-left: 70px;
    line-height: 50px;
    font-family: "ProximaNovaSoftRegular";
    font-size: 18px;
    color: #FFF;
}

#side-menu .options-list li {
    line-height: 55px;
    color: #8D52BA;
    font-size: 16px;
}

#side-menu .options-list li:hover {
    background-color: #F7F0FC;
}

#side-menu .options-list li img {
    margin: 0 10px;
}


#side-menu.right{
    left: 0;
    transition: 1s;
}

#content-page {
    margin-left: 0;
    transition: 1s;
}

#content-page.right {
    margin-left: 294px;
    transition: 1s;
}

#carousel-example-generic {
    height: 200px;
    background-color: #77438E;
    opacity: 0.8;
}

#carousel-example-generic .item {
    color: #FFF;    
}

#carousel-example-generic .top {
    line-height: 100%;
    font-family: "ProximaNovaSoftRegular";
    font-size: 18px;
    margin: 16px 0;
}

#carousel-example-generic .middle {
    line-height: 119%;
    font-family: "ProximaNovaSoftSemiBold";
    font-size: 32px;
    margin: 20px 0;
}
#carousel-example-generic .carousel-indicators li {
    background-color: #FFF;
    opacity: 0.5;
}

#carousel-example-generic .carousel-indicators li.active {
    opacity: 1;
}

#carousel-example-generic .bottom {
    line-height: 121%;
    font-family: "ProximaNovaSoftSemiBold";
    font-size: 24px;
    margin: 16px 0;
}

#slide-show {
    width: 100%;
    height: 200px;
}


.transation-items-title {
    background-color: #77438E;
    color: white;
    line-height: 42px;
    font-size: 14px;
    font-family: "ProximaNovaSoftMedium";
    padding-left: 5px;
}


#transation-items .first-line {
    position: relative;
    top: 25%;
}

#transation-items .second-line {
    position: relative;
    top: 25%;
}

#transation-items .first-line, 
#transation-items .second-line {
    display: inline-block;
    width: 100%;
}

#transation-items .first-line .desc {
    float: left;
    font-family: "ProximaNovaSoftSemiBold";
    font-size: 16px;
    color: #959595;
    line-height: 100%;
}

#transation-items .first-line .amount {
    float: right;
    color: #16967A;
    font-size: 16px;
    font-family: "ProximaNovaSoftBold";
}

#transation-items .first-line .amount.negative {
    color: #E44235;
}

#transation-items .second-line .date {
    float: left;
    font-family: "ProximaNovaSoftMedium";
    font-size: 14px;
    color: #959595;
    opacity: 0.6;
    line-height: 115%;
}

#transation-items .second-line .type {
    float: right;
    font-size: 14px;
    color: #959595;
    line-height: 115%;
}

#transation-items .transation-item {
    height: 65px;
    padding: 0 5px;
}

#transation-items .transation-item:nth-child(2n+1){
    background-color: #FFF;
}

#transation-items .transation-item:nth-child(2n){
    background-color: #F1F1F1;
}


#content-mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2;
    position: fixed;
    opacity: 0.5;

}

.man {
    margin: 0!important;
} 

.pln {
    padding-left: 0!important;
}

.prn {
    padding-right: 0!important;
}



@font-face {
  font-family: 'ProximaNovaSoftBold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/Fonts/ProximaNovaSoft-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'ProximaNovaSoftMedium';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/Fonts/ProximaNovaSoft-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'ProximaNovaSoftRegular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/Fonts/ProximaNovaSoft-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'ProximaNovaSoftSemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/Fonts/ProximaNovaSoft-Semibold.otf') format('opentype');
}