@font-face {
  font-family: 'ProximaNovaSoftBold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/Fonts/ProximaNovaSoft-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'ProximaNovaSoftMedium';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/Fonts/ProximaNovaSoft-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'ProximaNovaSoftRegular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/Fonts/ProximaNovaSoft-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'ProximaNovaSoftSemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/Fonts/ProximaNovaSoft-Semibold.otf') format('opentype');
}