#navbar {
    z-index: 4;
    background-color: $color-purple;
    border: none;
    border-radius: 0;
    margin-bottom: 0;

    .navbar-header {
        float: none;
        line-height: 56px;
        height: 56px;
    }
    
    .navbar-toggle {
        display: block;
        border: none;
        height: 30px;
        width: 30px;
    }
}

.navbar-brand.nofloat {
    float: none;
    font-family: "ProximaNovaSoftRegular";
    font-size: 20px;
    line-height: 100%;
    color: #FFF!important;
}


.navbar-toggle {
    padding-left: 4px!important;
    border-radius: 0!important;
    .icon-bar {
        background-color: $color-white!important;
        &.half {
            width: 12px;
        }
        &.quarter {
            width: 7px;
        }
    }
}