#side-menu {
    width: $side-menu-width;
    position: absolute;
    left: -$side-menu-width;
    transition: 1s;
    font-family: "ProximaNovaSoftRegular";
    z-index: 3;
    background-color: $color-white;
    top: 0;
    height: $all-space;
    .header {
        background: url(../assets/menu-header-bg.png);
        width: $side-menu-width;
        height: $side-menu-height;
        margin-top: 54px;
    }
    .avatar {
        padding-top: 50px;
        .foto {
            position: absolute;
            width: 50px;
            margin-left: 10px;
            line-height: 50px;
        }
        .name {
            width: 100px;
            margin-left: 70px;
            line-height: 50px;
            font-family: "ProximaNovaSoftRegular";
            font-size: 18px;
            color: $color-white;
        }
    }
    
    .options-list li {
        line-height: 55px;
        color: $color-purple-options;
        font-size: 16px;
        &:hover {
            background-color: $color-ligth-pink;
        }
        img {
            margin: 0 10px;
        }
    }
    &.right{
        left: 0;
        transition: 1s;
    }
}