#carousel-example-generic {
    height: 200px;
    background-color: $color-purple;
    opacity: 0.8;
    
    .item {
        color: $color-white;    
    }
    
    .top {
        line-height: 100%;
        font-family: "ProximaNovaSoftRegular";
        font-size: 18px;
        margin: 16px 0;
    }
    
    .middle {
        line-height: 119%;
        font-family: "ProximaNovaSoftSemiBold";
        font-size: 32px;
        margin: 20px 0;
    }
    
    .bottom {
        line-height: 121%;
        font-family: "ProximaNovaSoftSemiBold";
        font-size: 24px;
        margin: 16px 0;
    }
    
    .carousel-indicators li {
        background-color: $color-white;
        opacity: 0.5;
        &.active {
            opacity: 1;
        }
    }
}


#slide-show {
    width: $all-space;
    height: 200px;
}