.transation-items-title {
    background-color: $color-purple;
    color: $color-white;
    line-height: 42px;
    font-size: 14px;
    font-family: "ProximaNovaSoftMedium";
    padding-left: 5px;
}


#transation-items {
    .first-line, .second-line {
        position: relative;
        top: 25%;
        display: inline-block;
        width: 100%;
    }
    .first-line {
        .desc {
            float: left;
            font-family: "ProximaNovaSoftSemiBold";
            font-size: 16px;
            color: $color-gray;
            line-height: 100%;
        }
        .amount {
            float: right;
            color: $color-green;
            font-size: 16px;
            font-family: "ProximaNovaSoftBold";
            &.negative {
                color: $color-red;
            }
        }
    }
    .second-line {
        .date {
            float: left;
            opacity: 0.6;
            font-family: "ProximaNovaSoftMedium";
            font-size: 14px;
            color: $color-gray;
            line-height: 115%;
        }
        .type {
            float: right;
            font-family: "ProximaNovaSoftMedium";
            font-size: 14px;
            color: $color-gray;
            line-height: 115%;
        }
    }
    .transation-item {
        height: 65px;
        padding: 0 5px;
        &:nth-child(2n+1){
            background-color: $color-white;
        }
        &:nth-child(2n){
            background-color: $color-light-gray;
        }
    }  
}