
$color-purple: #77438E;
$color-purple-options: #8D52BA;
$color-ligth-pink: #F7F0FC;
$color-white: #FFF;
$color-black: #000;
$color-gray: #959595;
$color-green: #16967A;
$color-red: #E44235;
$color-light-gray: #F1F1F1;


$side-menu-width: 294px;
$side-menu-height: 150px;


$all-space: 100%;