@import 'variables';
@import 'navbar';
@import 'sidemenu';
@import 'slideshow';
@import 'transations';
@import 'fonts';

#content-page {
    margin-left: 0;
    transition: 1s;
    &.right {
        margin-left: $side-menu-width;
        transition: 1s;
    }
}

#content-mask {
    width: $all-space;
    height: $all-space;
    background-color: $color-black;
    z-index: 2;
    position: fixed;
    opacity: 0.5;

}

.man {
    margin: 0!important;
} 

.pln {
    padding-left: 0!important;
}

.prn {
    padding-right: 0!important;
}